.circle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: rgb(45, 116, 215);
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none; 
    z-index: 999999; 
}